<body>
    <div class="container">
        <div class="heading">SIGN IN</div>
        <form [formGroup]="userForm" (ngSubmit)="loginCheck()">
            <div class="card-details">
                <div class="card-box">
                    <span class="details">Email ID</span>
                    <input type="email" placeholder="Enter emailId" formControlName="emailId">
                </div>
                <div class="card-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" formControlName="password">
                </div>
            </div>

            <div class="button">
                <input type="submit" value="SignIn">
            </div>
        </form>
    </div>

</body>