<!-- <body>
    <button routerLink="/restaurant">CREATE</button>
    <div style="float: left;" class="col">
        <div class="row">
            <div class="card" style="width: 15rem;" *ngFor="let s of restaurants">
                <ul class="list-group list-group-flush" style="background-color: lightgray;">
                    <img [src]="'data:image/jpeg;base64,' + s.picByte" width="100px" height="100px">
                    <li class="list-group-item" style="background-color: lightgray;">RESTAURANT ID : {{s.restaurantId}}
                    </li>
                    <li class="list-group-item">RESTAURNAT NAME : {{s.restaurantName}}</li>
                    <li class="list-group-item">RESTAURANT LOCATION : {{s.restaurantLocation}}</li>
                </ul>
                <br>
                <button [routerLink]="['/view/'+s.restaurantId]">View Restaurant</button>
                <button type="button" class="btn btn-danger" (click)="deleteCuisine(s.cuisineId)">Delete</button>
                <br>
            </div>
        </div>
    </div>
</body> -->

<body>
    <div class="container">
        <div class="anchor">
            <a routerLink="/restaurant" class="btn">ADD RESTAURANT<span></span></a>
        </div>
    </div>
    <div class="box">
        <div class="card" *ngFor="let s of restaurants">
            <div class="info">
                <div class="name">RESTAURANT NAME : {{s.restaurantName}}</div>
                <div class="prof">{{s.restaurantLocation}}</div>
                <div class="divider"></div>
                <button>View Restaurant</button>
            </div>
                <img class="photo" [src]="'data:image/jpeg;base64,' + s.picByte">
        </div>
    </div>
    
</body>