<body>

  <nav>
    <div class="logo">
      <img src="../../assets/images/logo.jpg" width="60px" height="60px">
      <a href="" class="header_logo">F<span style="color: #f79f08;">oo</span>diE</a>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <!-- <i class="fas fa-bars"></i> -->
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-three-dots-vertical header_toggle fas fa-bars" id="toggle-menu" viewBox="0 0 16 16">
          <path
            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
        </svg>
      </i>

    </label>
    <ul>
      <li><a class="active" routerLink="/user">Home</a></li>
      <li><a routerLink="/login">LogOut</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
        <lord-icon class="truck" src="https://cdn.lordicon.com/fevpdbjk.json" trigger="loop" delay="1000"
          style="width:250px;height:250px">
        </lord-icon>
      </div>
      <br>
      <br>
      <h1>Success</h1>
      <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
      <br>
      <button type="button" class="btn" routerLink="/user" style="background-color: #f79f08;">HOME</button>
    </div>
  </div>
  
</body>